*{
    /* outline: 1px solid  green; */
}
.caja1{
    width: 200px;
    height: 200px;
    background-color: palevioletred;
   
}
.caja2{
    
    width: 200px;
    height: 200px;
    background-color: skyblue;
  
    
}
.caja3{
     width: 200px;
    height: 200px;
    background-color: lightgreen;
    
}

#y2{
    position: relative;
    left: 300px;
}
#y3{
    position: absolute;
    left: 210px;
    margin-top: -200px; 
    
}
.caja4{
    
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.contenedor4{
    position: relative;
}
#x4{
    position: absolute;
    top: 40px;
}
#y4{
    position: absolute;
    left: 400px;
    top: 40px; 
}
#z4{
    position: absolute;
    top: 300px;
}
#w4{
    position: absolute;
    left: 400px;
    top: 300px;
    /* margin-top: -200px;  */
}
